html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #D71600;
}
/* ---------- @ Float Clearing -----------*/
.clearfloat:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:".";
	}
	
.clearfloat {
	display:inline-block
	}

.clearfloat {
	display:block
	}
.clear{
	clear: both;
}

html, body{
	background: #d1d1d1 url(/images/background.gif) top left repeat-x;
	font: 1em "Georgia", "Trebuchet MS", serif;
	line-height:1.8em;
	text-align: center;
}
#wrapper{
	width: 960px;
	margin: 20px auto;
	text-align: left;
}
#logo{
	float: left;
}
#logo a{
	display: block;
	width: 361px;
	height: 36px;
	background: url(/images/logo.png) top left no-repeat;
	text-indent: -9999px;
}
#slogan{
	background: url(/images/slogan.png) top left no-repeat;
	width: 200px;
	text-indent: -9999px;
	float: left;
	margin-top: 25px;
	margin-left: 10px;
}
/* LAVA NAVIGATION */

       .lavaLampWithImage {
		 		clear: both;
            height: 49px;
            width: 920px;
            background: url("/images/navigation.gif") no-repeat top;
            padding: 40px 20px 0 20px;
            margin: 10px 0 20px 0;
            overflow: hidden;
				position: relative;
        }
                .lavaLampWithImage li {
                    float: left;
                    list-style: none;
                }
                    .lavaLampWithImage li.back {

                        background: url("/images/lava.png") no-repeat right -29px;
								_background: url("/images/laba.gif") no-repeat right -29px;
                        width: 11px; height: 29px;
                        z-index: 8;
                        position: absolute;
                    }
                        .lavaLampWithImage li.back .left {

                            background: url("/images/lava.png") no-repeat top left;
									 _background: url("/images/lava.gif") no-repeat top left;
                            height: 29px;
                            margin-right: 11px;
                        }
                    .lavaLampWithImage li a {
                        font: bold 14px arial;
                        text-decoration: none;
                        color: #fff;
                        outline: none;
                        text-align: center;
                        top: 7px;
                        text-transform: uppercase;
                        letter-spacing: 0;
                        z-index: 10;
                        display: block;
                        float: left;
                        height: 30px;
								position: relative;
                        overflow: hidden;
                        margin: auto 10px;    
                    }
                        .lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
                            border: none;
                        }
								
/*Tabbed featured Area*/
#featured{
	height: 495px;
}
#usual1{
	background: url(/images/tab.gif) top left no-repeat;
	height: 414px;
	width: 960px;
}
.tab{
	height: 344px;
	color: #fff;
	padding: 35px 35px 35px 35px;
	position: relative;
}
.tab h1{
	font-family: Trebuchet MS;
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 0.3em;
}
.tab p{
	line-height: 1.2em;
	margin-bottom: 0.3em;
}
#tabs{
	background: url(/images/tab_menu.gif) top left no-repeat;
	height: 83px;
	padding: 0 10px 0 10px;
	color: #fff;
}
#tabs li{
	float: left;
	height: 83px;
}
#tabs li a{
	color: #fff;
	text-decoration: none;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: bold;
	padding: 17px 30px 40px 30px;
	display: block;
}
/* 
#mtab1{
	background: url(/images/tab1.png) bottom center no-repeat;
	_background: url(/images/tab1.gif) bottom center no-repeat;
}
#mtab2{
	background: url(/images/tab2.png) bottom center no-repeat;
	_background: url(/images/tab2.gif) bottom center no-repeat;
}
#mtab3{

	background: url(/images/tab3.png) bottom center no-repeat;
	_background: url(/images/tab3.gif) bottom center no-repeat;
}
#mtab4{

	background: url(/images/tab4.png) bottom center no-repeat;
	_background: url(/images/tab4.gif) bottom center no-repeat;
}
*/
.tab_image{
	float: right;
	margin: 0 0 0 20px;
	border-style: solid;
	border-color: #213B13;
	border-width: 3px;
}
.selected{
	background: url(/images/tab_selected.gif) top center no-repeat;
}
#content{
	background: #fff url(/images/content.gif) top left no-repeat;
	padding: 20px 35px 0 35px;
	clear: both;
}
.col {
	float: left;
	width: 276px;
	height: 230px;
	padding: 0 20px 0 0;
}
.col h2{
	font-size: 1em;
	color: #3F4320;
	font-family: Trebuchet MS;
	margin: 0 0 15px 0;
}
.col blockquote{
	color: #606060;
	font-size: 0.8em;
	line-height: 1.6em;
}
cite{
	font-weight: bold;
	font-size: 0.9em;
	font-style: normal;
	padding: 0 0 10px 0;
	display: block;
}
.date{
	background: url(/images/date.gif) top left no-repeat;
	width: 38px;
	height: 15px;
	padding: 4px 0 0 4px;
	margin: 0 10px 0 0;
	display: block; 
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: .7em;
	line-height: 1;
}
.col li{
	line-height: 1;
	clear: both;
	margin: 0 0 10px 0;
	padding: 3px 0 3px 0;
}
.col a{
	/*line-height: 1.3em;
	font-size: .9em;
	display: block;
	float: right;
	width: 220px;
	text-decoration: none;*/
	color: #3F4320;
	text-decoration: underline;
	font-weight: bold;
}
.col p{
	margin: 7px 0 0 0;
	font-size: .8em;
	line-height: 1.3em;
	clear: both;
}
#footer{
	background: url(/images/footer.gif) top left no-repeat;
	height: 36px;
	padding: 40px 35px 0 35px;
	font-size: .8em;
	color: #4a4a4a;
}

/* broadband test form: */

.testform-label{
	display: inline;
	font-weight: bold;
	margin-right: 10px;
}
.testform-select{
	background: #F6F6F6;
	border: 1px solid #CDCDCD;
	color: #4A4A4A;
	padding: 3px;
	margin: 3px;
	font-size: 12px;
}
.testform-field{
	background: #F6F6F6;
	border: 1px solid #CDCDCD;
	color: #4A4A4A;
	padding: 3px;
	margin: 3px;
	font-size: 12px;
	height: 18px;
	width: 190px;
}
#testform-postcode{
	padding: 2px 3px 2px 20px;
	margin: 3px 0 3px 3px;
	background: #F6F6F6 url(/images/email_icn.gif) 3px 3px no-repeat;	
}

/* /broadband test form: */
.field{
	background: #F6F6F6;
	border: 1px solid #CDCDCD;
	color: #4A4A4A;
	padding: 2px 3px 2px 20px;
	height: 18px;
	width: 190px;
	margin: 3px 0 3px 3px;
}
.field-large{
	background: #F6F6F6;
	border: 1px solid #CDCDCD;
	color: #4A4A4A;
	padding: 2px 3px 2px 20px;
	height: 20pt;
	width: 500px;
	font-size: 12pt;
	margin: 3px 0 3px 3px;
}
#formstatus{font-weight:700;}
	.formstatuserror{color:#FF0000;}
	.formstatusok{color:#0C3;}
#user-name{
	background: #F6F6F6 url(/images/user_icn.gif) 3px 3px no-repeat;	
}
#user-email{
	background: #F6F6F6 url(/images/email_icn.gif) 3px 3px no-repeat;	
}
#user-comment{
	height: 80px;
	width: 240px;
	background: #F6F6F6 url(/images/comment_icn.gif) 3px 3px no-repeat;
}
#user-comment-large{
	height: 300px;
	width: 550px;
	background: #F6F6F6 url(/images/comment_icn.gif) 3px 3px no-repeat;
}
#submit{
	float: right;
	margin: 10px 0 0 0;
}
.contact_icn{
	background: url(/images/contact.gif) top left no-repeat;
	display: block;
	float: left;
	width: 50px;
	height: 55px;
	text-indent: -9999px;
}
label, legend{
	display: none;
}	
#inside{
	background: #fff;
}
#page-title{
	background: url(/images/page_title.gif) top left no-repeat;
	height: 53px;
	padding: 14px 25px 0 25px;
}
#page-title h1{
	float: left;
	color: #fff;
	font-family: Trebuchet MS;
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	line-height: 1.5em;
}
#searchform{
	width: 255px;
	float: right;
	padding: 0 10px 0 20px;
}
#page-content{
	background: #ffffff; /* url(/images/inside-content.gif) top right no-repeat; */
	width: 589px;
	padding: 20px 30px;
	float: left;
	font-size: 0.9em;
	line-height: 1.4em;
	border-right: 1px solid #eee;
}
#page-content p{
	margin: 0 0 10px 0;
}
#page-content h2{
	font-family: Trebuchet MS;
	font-size: 1.2em;
	font-weight: normal;
	display: block;
}
.alignleft{
	float: left;
	margin: 15px 15px 10px 0;
	border: 3px solid #eee;
}
.alignright{
	float: right;
	margin: 15px 0 10px 15px;
	border: 3px solid #eee;
}
#page-content ul{
	list-style: disc;
	margin: 0 0 10px 18px;
}
#page-sidebar{
	float: right;
	width: 270px;
	padding: 20px 20px;
}
#searchinput{
	background: url(/images/searchinput.gif) top left no-repeat;
	width: 206px;
	height: 25px;
	float: left;
	margin: 5px 0 0 0;
}
#searchinput input{
	border: 0px solid;
	background: transparent;
	margin: 3px 0 0 10px;
	width: 190px;

}
.search_btn{
	background: url(/images/searchsubmit.gif) top left no-repeat;
	width: 35px;
	height: 36px;
	border: 0px solid;
	text-indent: -9999px;
	margin: 0 0 0 10px;
}
#page-sidebar h2{
	font-family: Trebuchet MS;
	font-size: 1.2em;
	font-weight: normal;
	display: block;
}
#page-sidebar ul li{
	margin: 0 0 20px 0;
}
#page-sidebar ul li ul li{
	line-height: 1em;
	clear: both;
	margin: 0 0 10px 0;
	padding: 3px 0 3px 0;
}
#page-sidebar a{
	/*line-height: 1.1em;
	font-size: .9em;
	display: block;
	margin: 0 0 0 10px;
	text-decoration: none;
	color: #3F4320;
	font-weight: bold; */
	color: #3F4320;
	text-decoration: underline;
	font-weight: bold;
}
#page-sidebar p{
	margin: 7px 0 0 0;
	font-size: .8em;
	line-height: 1.3em;
}
#featured
{
	position: relative;
	height: 495px;
	overflow: hidden; /* might remove */
}



#featured h2
{
	position: absolute;
	bottom: 0;
	margin: 0;
	line-height: 1.3em;
	padding: .2em;
	background: black;
	color: white;
	text-align: center;
	width: 100%;
	filter: alpha(opacity=60);
	-moz-opacity: 60;
	opacity: .6;
}

ul#options
{
	background: #e3e3e3 url(images/bottom.jpg) repeat-x 0 100%;
	overflow: hidden;
	height: 1%;
	margin: 0;
	padding: .5em;
	border-top: 1px solid #8A8A8A;
	border-bottom: 1px solid #f5f5f5;
}

#options li
{
	float: left;
	width: 60px;
	height: 60px;
	list-style: none;
	cursor: pointer;
}

#options li:hover img
{
	border: 2px solid gray;
}

#options li img
{
	width: 50px;
}

.selected1
{
	border: 2px solid gray;
}
#options a
{
	outline: none;
}
#myform fieldset{
	padding: 0;
}
#myform input{
	border: 1px solid #CACACA;
	padding: 3px;
}
#myform textarea{
	background: url(images/sidebar.gif) top left repeat-x;
	border: 1px solid #CACACA;
	padding: 3px;
}
#myform label{
	display: none;
}
.submit{
	border: 0px solid;
	margin: 0 auto;
	display: block;
	font-weight: bold;
	color: #368D1F;
}
.error{
	border: 2px solid #B44426;
	background: #F0C4B9;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.3em;
}
.success{
	border: 2px solid #239E1A;
	background: #BAF3B6;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.3em;
}
.vspace{
	height: 30px;
	clear: both;
}
.meta{
	float: left;
	width: 120px;
	text-align: center;
	padding: 10px;
	
}
.meta h3{
	font-family: Trebuchet MS;
	font-size: 1em;
	font-weight: bold;
	display: block;
	margin-bottom: 0px;
}
.meta a{
	display: block;
	color: #368D1F;
}
.entry{
	float: right;
	width: 420px;
	padding: 10px;
	background-color: #eeffee;
}
.entry h2{
	margin-bottom: 10px;
}
.post{
	clear: both;
}
.takethetest{
	background: url(/images/takethetest.png) top left no-repeat;
	text-indent: -9999px;
	width: 105px;
	height: 24px;
	display: block;
	position: absolute;
	bottom: 10px;
	left: 810px;
}
.tab ul{
	margin: 0 0 0 18px;
}
.tab ul li{
	list-style: disc;
}


.data-table {
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 100%;
}
.data-th {
	background-color: #cccccc;
	text-align: left;
	padding: 1px;
}
.data-td {
	padding: 1px;
	text-align: left;
}
.data-even-tr {
	margin: 0px;
	border: 0px;
	padding: 2px;
	background-color: #efefef;
	font-size: 9pt;
	color: #000;
}
.data-odd-tr {
	margin: 0px;
	border: 0px;
	padding: 2px;
	background-color: #dedede;
	font-size: 9pt;
	color: #000;
}
